Language_Part/secrets.local.json
Language_Part/speech_input.wav
Datasets/
**/__pycache__/
*.pyc
*.pyo
*.mp3
*.wav
*.pt
*.safetensors
*.log.txt
.codex
Log/
command.txt
Miscan2/auth.json
Language_Part/test_out.json
Vision_Part/TableFrult/reBotArm_control_py/
Vision_Part/rebot_grasp/
Control_Part/reBotArm_control_py/example/Pos_EN.py
Control_Part/reBotArm_control_py/example/Pos_Traj.py
